Repository SOPT-29th-Joint-Seminar-11/Tabling-iOS, pull requests merged in 2021-11, with the labels that each got.

#12 Feature/9 detail layout
  Tabling-iOS.xcodeproj/project.pbxproj
  Tabling-iOS/Global/Constant/Constant.swift
  Tabling-iOS/Resource/Assets.xcassets/ic_five_star.imageset/Contents.json
  Tabling-iOS/Resource/Assets.xcassets/ic_five_star.imageset/ic_five_star.png
  Tabling-iOS/Resource/Assets.xcassets/ic_five_star.imageset/ic_five_star@2x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_five_star.imageset/ic_five_star@3x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_four_star.imageset/Contents.json
  Tabling-iOS/Resource/Assets.xcassets/ic_four_star.imageset/ic_four_star.png
  Tabling-iOS/Resource/Assets.xcassets/ic_four_star.imageset/ic_four_star@2x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_four_star.imageset/ic_four_star@3x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_one_star.imageset/Contents.json
  Tabling-iOS/Resource/Assets.xcassets/ic_one_star.imageset/ic_one_star.png
  Tabling-iOS/Resource/Assets.xcassets/ic_one_star.imageset/ic_one_star@2x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_one_star.imageset/ic_one_star@3x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_three_star.imageset/Contents.json
  Tabling-iOS/Resource/Assets.xcassets/ic_three_star.imageset/ic_three_star.png
  Tabling-iOS/Resource/Assets.xcassets/ic_three_star.imageset/ic_three_star@2x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_three_star.imageset/ic_three_star@3x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_two_star.imageset/Contents.json
  Tabling-iOS/Resource/Assets.xcassets/ic_two_star.imageset/ic_two_star.png
  Tabling-iOS/Resource/Assets.xcassets/ic_two_star.imageset/ic_two_star@2x.png
  Tabling-iOS/Resource/Assets.xcassets/ic_two_star.imageset/ic_two_star@3x.png
  Tabling-iOS/Source/Screen/Ruhee/Cell/BannerPhotoCVC.swift
  Tabling-iOS/Source/Screen/Ruhee/Cell/BannerTVC.swift
  Tabling-iOS/Source/Screen/Ruhee/Cell/BottomDetailTVC.swift
  Tabling-iOS/Source/Screen/Ruhee/Cell/TopDetailTVC.swift
  Tabling-iOS/Source/Screen/Ruhee/Component/BottomView.swift
  Tabling-iOS/Source/Screen/Ruhee/Component/ButtonStackView.swift
  Tabling-iOS/Source/Screen/Ruhee/Component/LineView.swift
  Tabling-iOS/Source/Screen/Ruhee/Component/SubtitleLabel.swift
  Tabling-iOS/Source/Screen/Ruhee/VC/DetailVC.swift
Labels: Detail View, 당장 코드리뷰!!

#18 [ADD] 필요한 TVC 파일 추가
  Tabling-iOS.xcodeproj/project.pbxproj
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJAddressTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJBannerTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJCafeTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJReviewTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJStoreTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/VC/NamjoonMainVC.swift
Labels: 🥔 ningpop 🥔

#19 [CHORE] TVC 파일 이름 변경에 따른 VC수정
  Tabling-iOS/Source/Screen/Namjoon/VC/NamjoonMainVC.swift
Labels: 🥔 ningpop 🥔

#20 [ADD] modified pbxproj file (#11)
  Tabling-iOS.xcodeproj/project.pbxproj
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJAddressTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJBannerTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJCafeTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJReviewCVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJReviewTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJStoreCVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJStoreTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Component/NamjoonComponent.swift
  Tabling-iOS/Source/Screen/Namjoon/Model/NamjoonModel.swift
  Tabling-iOS/Source/Screen/Namjoon/VC/NamjoonMainVC.swift
Labels: Main View, 🥔 ningpop 🥔

#21 Feature/10 main view layout tv
  Tabling-iOS.xcodeproj/project.pbxproj
  Tabling-iOS/Global/Extension/UIColor+.swift
  Tabling-iOS/Resource/Assets.xcassets/boxFillGray.colorset/Contents.json
  Tabling-iOS/Source/Screen/Yujin/Cell/LocationTVC.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/SearchHeader.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/StoreCVC.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/StoreListTVC.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/TitleTVC.swift
  Tabling-iOS/Source/Screen/Yujin/Model/LocationModel.swift
  Tabling-iOS/Source/Screen/Yujin/Model/StoreModel.swift
  Tabling-iOS/Source/Screen/Yujin/Model/TitleModel.swift
  Tabling-iOS/Source/Screen/Yujin/VC/YujinMainVC.swift
Labels: Main View, 🥔 yujinee 🥔, 당장 코드리뷰!!, 질문!!
