Repository SOPT-29th-Joint-Seminar-11/Tabling-iOS, pull requests merged in 2021-12, with the labels that each got.

#27 [FEAT] MainView Layout 구현 (#11)
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJAddressTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJBannerTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJCafeTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJReviewCVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJReviewTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJStoreCVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJStoreTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Component/NamjoonComponent.swift
  Tabling-iOS/Source/Screen/Namjoon/Model/NamjoonModel.swift
  Tabling-iOS/Source/Screen/Namjoon/VC/NamjoonMainVC.swift
Labels: Main View, 🥔 ningpop 🥔, 당장 코드리뷰!!

#30 [FEAT] MainView Network 연결
  Tabling-iOS/Source/Network/Services/YJMainService.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/AdBannerTVC.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/ReviewListTVC.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/SearchHeader.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/StoreCVC.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/StoreListTVC.swift
  Tabling-iOS/Source/Screen/Yujin/Model/ReviewModel.swift
  Tabling-iOS/Source/Screen/Yujin/Model/StoreModel.swift
  Tabling-iOS/Source/Screen/Yujin/VC/YujinMainVC.swift
Labels: 🥔 yujinee 🥔

#31 Feature/16 detail service
  Tabling-iOS.xcodeproj/project.pbxproj
  Tabling-iOS.xcodeproj/xcuserdata/thisismehi.xcuserdatad/xcschemes/xcschememanagement.plist
  Tabling-iOS/Global/Constant/Constant.swift
  Tabling-iOS/Resource/Storyboard/Base.lproj/Main.storyboard
  Tabling-iOS/Resource/Storyboard/YujinMain.storyboard
  Tabling-iOS/Source/Model/DetailModel.swift
  Tabling-iOS/Source/Model/LikeModel.swift
  Tabling-iOS/Source/Model/ReserveModel.swift
  Tabling-iOS/Source/Network/DetailManager.swift
  Tabling-iOS/Source/Network/Services/DetailService.swift
  Tabling-iOS/Source/Screen/Ruhee/Cell/BannerPhotoCVC.swift
  Tabling-iOS/Source/Screen/Ruhee/Cell/BannerTVC.swift
  Tabling-iOS/Source/Screen/Ruhee/Cell/BottomDetailTVC.swift
  Tabling-iOS/Source/Screen/Ruhee/Cell/TopDetailTVC.swift
  Tabling-iOS/Source/Screen/Ruhee/Component/BottomButtonView.swift
  Tabling-iOS/Source/Screen/Ruhee/Component/ButtonStackView.swift
  Tabling-iOS/Source/Screen/Ruhee/Component/FacilityCardView.swift
  Tabling-iOS/Source/Screen/Ruhee/Component/TagView.swift
  Tabling-iOS/Source/Screen/Ruhee/Model/RuheeModel.swift
  Tabling-iOS/Source/Screen/Ruhee/VC/DetailVC.swift
  Tabling-iOS/Source/Screen/Yujin/Cell/StoreListTVC.swift
  Tabling-iOS/Source/Screen/Yujin/VC/YujinMainVC.swift
Labels: Detail View, 🥔 heerucan 🥔, 당장 코드리뷰!!

#32 [FEAT] MainView Server 연결 완료 (#29)
  Tabling-iOS/Source/Network/Services/NJMainService.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJAddressTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJCafeTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJReviewTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJStoreCVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Cell/NJStoreTVC.swift
  Tabling-iOS/Source/Screen/Namjoon/Model/NamjoonModel.swift
Labels: Main View, 🥔 ningpop 🥔, 당장 코드리뷰!!
